*
{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden !important;
	font-family: 'Arial';
}

.markdown-body 
{
    width: 100%;
    max-width: 980px;
    padding: 30px;
    background: #49483E;
    color: #fff;
    border-radius: 5px;
}

.markdown-body .highlight pre, .markdown-body pre
{
	background: none;
}

.container-sample
{
	position: relative;
	min-height: 200px;
	height: 200px;
	width: 350px;
	display: inline-block;
	padding: 10px;
	background: #fff;
	border:solid 1px #ddd;
}

#temp-parent-container
{
	position: fixed;
	right: 50px;
	top: 50px;
}

#temp-parent-container-2
{
	position: relative;
}

#temp-parent-container-4
{
	overflow: scroll;
}

.overflow-text-sample
{
	height: 100px;
}

.row
{
	padding: 20px 10px;
	display: inline-block;
	width: 100%;
	border-bottom: solid 1px #f6f6f6;

}

.row:nth-child(2n)
{
	background: #f9f9f9;
}

.row-inner
{
	padding: 10px 10px;
	display: inline-block;
	width: 100%;
}

.title-row
{
	font-size: 1.2em;
	display: inline-block;
	width: 100%;
	padding: 10px 0px;
}

.text-row
{
	font-size: 0.8em;
	display: inline-block;
	width: 100%;
	padding: 10px 0px;
}

button.sample-button
{
	border: solid 1px #FA951F;
	background: #FA951F;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	padding: 7px 12px;
	cursor: pointer;
}

button.sample-button:hover
{
	transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
	border: solid 1px #FD971F;
	background: #FD971F;
}